table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  background: white;
  max-width: 70%;
  width: 70%;
  border-collapse: collapse;
  text-align: left;
}
caption {
  padding: 10px;
  font-weight: bold;
}
th {
  font-weight: normal;
  color: rgb(214, 122, 127);
  border-bottom: 2px solid #6678b1;
  padding: 10px 8px;
}
td {
  border-bottom: 1px solid #ccc;
  color: rgb(214, 255, 127);
  padding: 9px 8px;
  transition: .3s linear;
}
tr:hover td {
  color: rgb(65, 157, 127);
}