<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<head>
    <title>Клиент</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="container">
            <div class="client-info">
                <p>Информация о клиенте
                <p>Имя: <td th:text="${client.firstName}"></td>
                <p>Фамилия: <td th:text="${client.lastName}"></td>
                <p>Отчество: <td th:text="${client.patronymicName}"></td>
                <p>Дата рождения: <td th:text="${client.birthday}"></td>
                <p>Паспортные данные: <td th:text="${client.passport}"></td>
                <p>Электронная почта: <td th:text="${client.email}"></td>
            </div>
            <hr>
            <h1>Добавить карту</h1>
            <div class="client_creation_block px-4">
                <form action="#" th:action="@{{id}/cards(id=${client.id})}" th:object="${newCard}" method="post">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Номер карты</span>
                        <input type="text" maxlength="16" required pattern="\d{0, 16}" class="form-control" th:field="*{cardNumber}" placeholder="Оставить пустым для автогенерации"/>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Дата выпуска</span>
                        <input type="date" required class="form-control" th:field="*{dateOfIssue}">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Действует до</span>
                        <input type="date" required class="form-control" th:field="*{dateOfExpiration}">
                    </div>
                    <p><input type="submit" value="Создать" />
                </form>
            </div>
            <div th:insert="~{/fragments/card_list :: card_list}"></div>
        </div>
    </div>
</body>
</html>
