<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>ExpirationManager</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/img/icon.png" rel="icon">
    <link href="/img/icon.png" rel="apple-touch-icon">
    <!-- Template Main CSS File -->
    <link rel="stylesheet" type="text/css" media="all" href="/css/bootstrap/bootstrap.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/table.css" />
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <h1 class="logo"><a href="/">ExpirationManager</a></h1>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link" href="/clients">Клиенты</a></li>
                    <li><a class="nav-link" href="/cards">Банковские карты</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
        </div>
    </header>
    <div align="center">
        <h1>Создать клиента</h1>

        <hr>
        <table>
            <thead>
            <tr>
                <th colspan="5">Список клиентов</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="client: ${clients}">
                <td th:text="${client.firstName}"></td>
                <td th:text="${client.lastName}"></td>
                <td th:text="${client.patronymicName}"></td>
                <td th:text="${client.birthday}"></td>
                <td>
                    <a th:href="@{clients/{id}(id=${client.id})}">Перейти</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
