<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<head>
    <title>Error</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <ul class="list-group pt-3">
            <li class="list-group-item" th:text="|Ошибка: ${errorInfo.error}|"></li>
            <li class="list-group-item" th:text="|Описание: ${errorInfo.description}|"></li>
            <li class="list-group-item">
                <ul class="list-group pt-3" th:each="constraintViolation: ${errorInfo.constraintViolations}">
                    <li class="list-group-item" th:text="${constraintViolation.message}">
                </ul>
            </li>
        </ul>

    </div>
</div>
</body>
</html>