<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}">
<head>
    <title>ExpirationManager</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <p>Автоматическая рассылка уведомление клиентам банка о завершении срока действий их банковских карт
        <p>Есть объекты:
        <p>Клиент (ФИО, Дата рождения, …)
        <p>Банковская карта (Клиент, Номер карты, Дата выдачи, Дата окончания действия, …)

        <p>Разработать задание по расписанию, которое будет осуществлять рассылку уведомления клиентам при завершении срока действия банковской карты. Дополнительно предусмотреть следующие функции:
        <p>1.	Создание клиента
        Если клиент уже был раннее заведен, возвращать его идентификатор, чтобы избежать дублей
        <p>2.	Создание карты
        Заводит новую карту клиенту (опционально, можно проверять уникальность номера карты при заведении)
        <p>3.	Аннулирование карты
        Закрывает действующую карту клиента

    </div>
</div>
</body>
</html>